@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@DateTime.Now.ToString("dddd, d MMMM yyyy")</p>
    @if ((double)ViewData["random"] > 0.5)
    {

        <p style="background-color:red">@ViewData["random"]</p>
    }
    else
    {
        <p>@ViewData["random"]</p>
    }
</div>
